<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Edit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>



  
  <!--   가상주소에 해당하는 처리담당자(서블릿파일)=> 주소매핑 -->
<!-- http://localhost:8080/FunWeb/insert.me -->
<servlet-mapping>
	<servlet-name>MemberController</servlet-name>
	<url-pattern>*.me</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MemberController</servlet-name>
	<servlet-class>com.itwillbs.controller.MemberController</servlet-class>
</servlet>




  <!--   가상주소에 해당하는 처리담당자(서블릿파일)=> 주소매핑 -->
<!-- http://localhost:8080/FunWeb/list.bo -->
<!-- <servlet-mapping>
	<servlet-name>BoardController</servlet-name>
	<url-pattern>*.bo</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>BoardController</servlet-name>
	<servlet-class>com.itwillbs.controller.BoardController</servlet-class>
</servlet> -->





<servlet-mapping>
	<servlet-name>AdminController</servlet-name>
	<url-pattern>*.ad</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AdminController</servlet-name>
	<servlet-class>com.itwillbs.controller.AdminController</servlet-class>
</servlet>


<servlet-mapping>
	<servlet-name>NoticeController</servlet-name>
	<url-pattern>*.no</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>NoticeController</servlet-name>
	<servlet-class>com.itwillbs.controller.NoticeController</servlet-class>
</servlet>


<servlet-mapping>
	<servlet-name>ProductController</servlet-name>
	<url-pattern>*.po</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ProductController</servlet-name>
	<servlet-class>com.itwillbs.controller.ProductController</servlet-class>
</servlet>

  
  

<servlet>
    <servlet-name>AddToWishlistServlet</servlet-name>
    <servlet-class>com.itwillbs.ajax.AddToWishlistServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddToWishlistServlet</servlet-name>
    <url-pattern>*.wi</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ChatController</servlet-name>
    <servlet-class>com.itwillbs.controller.ChatController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ChatController</servlet-name>
    <url-pattern>*.ch</url-pattern>
</servlet-mapping>

  
<!-- <servlet-mapping>
	<servlet-name>MainController</servlet-name>
	<url-pattern>*.ma</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>MainController</servlet-name>
	<servlet-class>com.itwillbs.controller.MainController</servlet-class>
</servlet> -->
</web-app>