@charset "UTF-8";
/* <!-- ============================== 상단네비 ==================================--> */
.notice_main * {
  box-sizing: border-box;
}
.notice_main {
  flex-shrink: 0;
  width: 1920px;
  height: 609px;
  position: static;
}
.top_nav {
  background: var(--gray-50, #f2f4f5);
  padding: 24px 300px 24px 300px;
  width: 1920px;
  height: 72px;
  position: absolute;
  left: 300px;
  top: 0px;
}
.top_nav_icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 300px;
  top: calc(50% - 10px);
}
.home_icon {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.top_nav_home {
  color: var(--gray-600, #5f6c72);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
}
.right {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.top_nav_notice {
  color: var(--gray-600, #5f6c72);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
}
.right2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.top_nav_notice2 {
  color: var(--gray-600, #5f6c72);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
}

/* <!-- ============================== 사이드바 ==================================--> */
.side_menu {
  background: var(--gray-00, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 598px;
  top: 174px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}
.side_menu_list {
  padding: 10px 24px 10px 24px;
  flex-shrink: 0;
  width: 264px;
  height: 40px;
  position: relative;
}
.side_menu_name {
  color: var(--gray-600, #5f6c72);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: absolute;
  left: 56px;
  top: calc(50% - 10px);
}
/* <!-- ============================== 본문 헤딩 ==================================--> */
.heading {
  padding: 0px 0px 0px 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 649px;
  height: 102px;
  position: absolute;
  left: 935.5px;
  top: 72px;
}

.heading_name {
	
  color: var(--gray-900, #191c1f);
  text-align: left;
  font: var(--heading-03, 600 24px/32px "Public Sans", sans-serif);
  position: relative;
  width: 691px;
}

/* <!-- ============================== 일반공지 목록 ==================================--> */
.notice_board {
  background: var(--gray-00, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 0px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 435px;
  position: absolute;
  left: 934px;
  top: 174px;
}
.notice_board_heading {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sub_heading {
  background: var(--gray-50, #f2f4f5);
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 242px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 984px;
  position: relative;
}
.sub_num {
  color: var(--gray-700, #475156);
  text-align: center;
  font: var(--label-04, 500 12px/150% "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
  width: 124px;
}
.sub_title {
  color: var(--gray-700, #475156);
  text-align: center;
  font: var(--label-04, 500 12px/150% "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
  width: 152px;
}
.sub_date {
  color: var(--gray-700, #475156);
  text-align: center;
  font: var(--label-04, 500 12px/150% "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
  width: 200px;
}
.notice_list {
  padding: 12px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 65px;
  position: relative;
}
.notice_list_list {
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 988px;
  position: relative;
}
.num {
  color: #000000;
  text-align: center;
  font: var(--body-small-500, 500 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 122px;
}
.title {
  color: #141414;
  text-align: left;
  font: var(--body-small-600, 600 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 480px;
}
.date {
  color: #000000;
  text-align: center;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 268px;
}
.num2 {
  color: #000000;
  text-align: center;
  font: var(--body-small-500, 500 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 122px;
}
.title2 {
  color: #141414;
  text-align: left;
  font: var(--body-small-600, 600 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 480px;
}
.date2 {
  color: #000000;
  text-align: center;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 268px;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 193px;
  position: relative;
}
.arrow_btn {
  border-radius: 100px;
  border-style: solid;
  border-color: var(--primary-500, #fa8232);
  border-width: 1.5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.page_left {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.pages {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pagination-item {
  background: var(--primary-500, #fa8232);
  border-radius: 100px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._01 {
  color: var(--gray-00, #ffffff);
  text-align: center;
  font: var(--body-small-600, 600 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 40px;
}
.pagination-item2 {
  background: var(--gray-00, #ffffff);
  border-radius: 100px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._012 {
  color: var(--gray-900, #191c1f);
  text-align: center;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 40px;
}
.page_right {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
  
/* <!-- ============================== 작성 버튼 ==================================-->   */
 .btn {
  background: var(--primary-500, #fa8232);
  border-radius: 3px;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.write_btn {
  color: var(--gray-00, #ffffff);
  text-align: left;
  font: var(--heading-06, 700 16px/56px "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
}
