@charset "UTF-8";

.filter,
.filter * {
  box-sizing: border-box;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  font: var(--label-02, 500 16px/24px "Public Sans", sans-serif);
  
}
.category {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.category2 {
  color: var(--gray-900, #191c1f);
  text-align: left;
  font: var(--label-02, 500 16px/24px "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
  width: 312px;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.category3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.computer-laptop {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
.smart-phone {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
.tablet {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
.line-13 {
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 312px;
  height: 0px;
  position: relative;
}
.price-range {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  
  
}
.price-range2 {
  color: var(--gray-900, #191c1f);
  text-align: left;
  font: var(--label-02, 500 16px/24px "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
  width: 312px;
}
.price-range3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.input-field {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  font: var(--label-02, 500 16px/24px "Public Sans", sans-serif);
}
.min-price {
  background: var(--gray-00, #ffffff);
  border-radius: 3px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 12px 12px 12px 20px;
  flex-shrink: 0;
  width: 150px;
  height: 40px;
  position: relative;
}
.max-price {
  background: var(--gray-00, #ffffff);
  border-radius: 3px;
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px;
  padding: 12px 12px 12px 20px;
  flex-shrink: 0;
  width: 150px;
  height: 40px;
  position: relative;
}
.all-price {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
._0 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
._5-10 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
._10-20 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}

.from-elements2 {
  background: var(--gray-00, #ffffff);
  border-radius: 100px;
  border-style: solid;
  border-color: var(--primary-500, #fa8232);
  border-width: 2px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
._20-30 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
._30-50 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
._50-100 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
._over-100 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 284px;
}
.line-15 {
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 312px;
  height: 0px;
  position: relative;
}
.popular-brands {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 312px;
  height: 30px;
  position: relative;
}
._2 {
  color: var(--gray-900, #191c1f);
  text-align: left;
  font: var(--label-02, 500 16px/24px "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
  width: 312px;
  height: 100px;
}

.apple {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}

.xiaomi {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}

.hp {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}

.sony {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}

.microsoft {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}

.lg {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}
.intel {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}
.samsung {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}

.panasonic {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
  width: 124px;
}
.line-16 {
  border-style: solid;
  border-color: var(--gray-100, #e4e7e9);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 312px;
  height: 0px;
  position: relative;
}

.banner {
  background: var(--gray-00, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--primary-100, #ffe7d6);
  border-width: 4px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width:312px;
  height:543px;
}
.image1 {
	flex-shrink: 0;
	width:180px;
	height:180px;
	position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._3 {
  color: var(--gray-900, #191c1f);
  text-align: center;
  font: var(--heading-03, 600 24px/32px "Public Sans", sans-serif);
  position: relative;
  width: 248px;
}
.prices {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._4 {
  color: var(--gray-700, #475156);
  text-align: left;
  font: var(--body-small-400, 400 14px/20px "Public Sans", sans-serif);
  position: relative;
}
.prices2 {
  background: var(--warning-300, #f3de6d);
  border-radius: 3px;
  padding: 6px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._20 {
  color: var(--gray-900, #191c1f);
  text-align: center;
  font: var(--body-medium-600, 600 16px/24px "Public Sans", sans-serif);
  position: relative;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color : FA8232;
}

.label {
  color: var(--gray-00, #ffffff);
  text-align: left;
  font: var(--heading-07, 700 14px/48px "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
}
.button2 {
  background: #fa8232;
  border-radius: 2px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 248px;
  position: relative;
  font: var(--body-medium-600, 600 16px/24px "Public Sans", sans-serif);
  
}
.label2 {
  color: var(--primary-500, #fa8232);
  text-align: left;
  font: var(--heading-07, 700 14px/48px "Public Sans", sans-serif);
  text-transform: uppercase;
  position: relative;
}
.button3 {
  border-radius: 2px;
  border-style: solid;
  border-color: var(--primary-500, #fa8232);
  border-width: 2px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 248px;
  position: relative;
}
.regular-arrow-right {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

._7_filterOpt {
  background: #ffffff;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--gray-00, #ffffff);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
	}

