@charset "UTF-8";
._01,
._01 * {
  box-sizing: border-box;
}
._01 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width:100%;
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width:100%;
}
/*.logo_search {*/
/*  background: var(--secondary-700, #1b6392);*/
/*  padding: 20px 300px 20px 300px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  width: 1920px;*/
/*  width:100%;*/
/*}*/

/*.logo {*/
/*  flex-shrink: 0;*/
/*  width: 245px; height: 63px;*/
/*  position: relative;*/
/*}*/

/*.logo {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 8px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-shrink: 0;*/
/*}*/

.logo_search {
  background: var(--secondary-700, #1b6392);
  padding: 20px 300px 20px 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.logo + .search{
/*  display: flex;*/
/*  flex-direction: row;*/
  
/*  gap: 8px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-shrink: 0;*/
/*  position: absolute;*/
}

.logo_img {
  flex-shrink: 0;
  width: 245px;
  height: 63px;
/*  position: absolute;*/
}
#search_form {
	width: 80%;
	flex-grow: 1;
}
.search {
/*  background: var(--gray-00, #ffffff);*/
/*  border-radius: 2px;*/
  padding: 14px 20px 14px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 50px;
  position: relative;
/*  width: 1047px auto;*/
/*  width: 55%;*/
  width: 70%;
  min-width: 300px;  
  margin: 0 auto;
  
}

.search input {
  width: 100%;
  min-width: 300px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}
.search_img {
  position : absolute;
  width: 17px;
  top: 25px;
  right: 30px;
  margin: 0;
}
.search_img:hover{
	filter : invert(70%);
}
/*.icon,*/
/*.icon * {*/
/*  box-sizing: border-box;*/
/*}*/
.icon {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
/*  width: 1920px;*/
  width: 100%;
  height: 62px;
}
#login {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 24px;
  position: relative;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;word-spacing: 5px;
}
/*#login{float: right;margin: 20px 64px 0 0;*/
/*font-family: Arial,Helvetica,sans-serif;*/
/*font-size: 12px;word-spacing: 5px}*/
/*정렬 오른쪽 밖여백 20 64 0 0  
글자체 Arial,Helvetica,sans-serif 크기 12px 
단어간격 5px*/
#login a{text-decoration: none; color: #333}
/* 하이퍼링크 밑줄 없음 글자색 #333*/
#login a:hover{color: #F90}
/* 하이퍼링크 hover 글자색 #F90*/

/*.category,*/
/*.category * {*/
/*  box-sizing: border-box;*/
/*}*/
.category {
  background: var(--gray-00, #ffffff);
/*  padding: 16px 300px 16px 300px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  box-shadow: inset 0px -1px 0px 0px rgba(228, 231, 233, 1);
}
.category2 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 51%;
/*  width: 1074px;*/
  flex-grow: 1;
  height: 62px;
  position: relative;
}

.need-help {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.need-help a {
  color: #124261;
  text-align: left;
  font: var(--body-large-600, 600 18px/24px "Public Sans", sans-serif);
  position: relative;
  text-decoration: none;
}

